

<div class="inner cover" style="text-align: center;">
  <h1 class="cover-heading">Trabajo Fin de Grado</h1>
  <p class="lead">This is a web application developed by Jorge Vela Plaza, for his degree ending project. September, 2017</p>

  <p class="lead">
  <%= link_to "Back", pages_home_path, class: "btn btn-lg btn-primary" %>
            </p>
</div>
