@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.centerbtn {
 margin:0px auto;
 display: table;
}

.menuAjustes{
  padding-left: 35px;
}

.asideposition{
  width: 170px;
  height: 170px;
}

.actionCompIndex{
  font-size: 1.25em;
}

.tituloMenuAjustes{

  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.imgresize{
  width: 50px;
  height: auto;
}

.topicIndexUserImg{
  width: 50px !important;
  height: auto !important;
}

.topicUserImg{
  width: 80px !important;
  height: auto !important;
  margin:0px auto !important;

}

.comp-table-icon{
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 1.75em;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }



#vertical-bar {
    border-left: 1px solid #ccc;
    width:1px;
    height:500px;
}

/*footer*/

.ftr {
  border-top: 1px solid #000;
  position: absolute !important;
  bottom: 0px !important;
  right: 0px;
  left: 0px;
}

.body{
  background-image: url("data-analysis.jpg");
  background-size: 1320px 780px;
  background-repeat: no-repeat;
}
