<h1>End Competition</h1>

Dear <%= @user.name %>,<br>

The competition "<b><%= @competition.titulo %></b>" is over. You can see your position in the leaderboard in the following link: <br>

http://82.223.30.118/competitions/<%= @competition.id %>/leaderboard<br>


Thanks for participating!
