<h1>Competition Started!</h1>

Dear <%= @user.name %>,<br>

The competition "<b><%= @competition.titulo %></b>" just started!. You can send your predictions from this moment!
 <br>
<% if @competition.nGroups > 1 %>
  You have been enrolled in group <b><%= @competition_user.group %></b>.
<% end %>
<br>
<a href="http://82.223.30.118/competitions/<%= @competition.id %>">Get started now!</a>
