<h1>Competición Iniciada</h1>

Querido <%= @user.name %>,<br>

La competición "<b><%= @competition.titulo %></b>" ha comenzado!. Puede mandar sus predicciones a partir de este momento!. <br>

¡Suerte!
