<h1>Competición Iniciada</h1>

Dear <%= @user.name %>,<br>

You have passed the round, and you have been included in the competition "<b><%= @competition.titulo %></b>".

The battle start right now! <br>

http://82.223.30.118/competitions/<%= @competition.id %> <br>

Good luck!
